{% extends 'base.html' %}
{% block content %}
<div class="container">

    {% if jobs|length < 1 %}
    <h1>No jobs</h1>
    {% else %}
<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">User ID</th>
  </tr>
</thead>
<tbody>
{% for job in jobs %}
  <tr scope="row">
     <td>{{ job.id }}</td>
    <td>{{ job.name }}</td>
    <td>{{ job.description }}</td>
    <td>{{ job.user_id }}</td>
    <td>

    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endif %}

{% endblock%}