{% extends 'base.html' %}
{% block content %}
<div class="container">

    {% if courses|length < 1 %}
    <h1>No Courses</h1>
    {% else %}
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
{% for course in courses %}
  <tr scope="row">
    <td>{{ course.id }}</td>
    <td>{{ course.name }}</td>
    <td>{{ course.description }}</td>
    <td>
        <a class="btn btn-primary" href="/course/{{course.id}}/users">Show Users</a>
        <a class="btn btn-info" href="/enroll/{{course.id}}">Enroll Users</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<a class="btn btn-primary" href="/course">Add Course</a>
{% endif %}

{% endblock%}