{% extends 'base.html' %}
{% block content %}
<div class="container">

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Firstname</th>
    <th scope="col">Lastname</th>
    <th scope="col">Email</th>
    <th scope="col">Birth Year</th>
    <th scope="col">Age</th>

  </tr>
</thead>
<tbody>

  <tr scope="row">
      <td>{{ user.id }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.birth_year }} </td>
    <td>{{user.age|string}}</td>
    <td>
        <a class="btn btn-info" href="/jobs/{{user.id}}">Show Jobs</a>
        <a class="btn btn-primary" href="/addjob/{{user.id}}">Add Job</a>

    </td>
  </tr>

</tbody>
</table>



{% endblock%}